body{
 background-color: #1c1c1c;
}

.banner {
  background-color: #1c1c1c;
  padding: 10px;

  text-align: left;
  position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid white;
}

.banner h1 {
  color: #D90511;
  font-size: 50px;
  margin: 0;
   font-family: Arial, sans-serif;

     font-weight: 300px;
     letter-spacing: 8px;
     text-transform: uppercase;
     font-style:italic;
}

.basicText{
 color: white;
  font-size: 20px;
  margin: 0;
   font-family: Arial, sans-serif;

     font-weight: 300px;
     letter-spacing: 8px;
     text-transform: uppercase;
     font-style:italic;
}

.yearSelect{
    margin: 0;
        display: flex;
        flex-direction: column; /* Arrange the items in a column */
        align-items: center; /* Center horizontally */
        justify-content: center; /* Center vertically */
        min-height: 50vh;
}



footer{
     background-color: black;
      padding: 10px;
      text-align: center;
      position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        border-top: 1px solid white;
}
footer h1{
    color: #D90511;
      font-size: 50px;
      margin: 0;
       font-family: Arial, sans-serif;

         font-weight: 300px;
         letter-spacing: 8px;
         text-transform: uppercase;
         font-style:italic;
}





