<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="banner" >
    <header>
        <h1>Formula 1   Standings</h1>
    </header>

</div>

<div class = "centerColumn">
    <h1 class="basicText">Choose A Way to display</h1>
    <br>

    <button class="button" onclick="window.location.href='displayByYear.html'">Display Standings by Year</button>

    <button class="button" onclick="window.location.href='displayByYearAndDriver.html'">Display Standings by Year and Driver</button>

    <button class="button" onclick="window.location.href='/'"> Home</button>
</div>


</body>
</html>